.App {
  background-color: #282c34;
  display: flex;
  flex-wrap: wrap; 
  justify-content: left;
}

.App-Header {
  background-color: #1c6e8c;
  max-height: 12vh;
  display: flex;
  min-height: 10vh;
  padding-top: 15px;
  margin: 0;
  justify-content: center;
}
